.logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000020;
}

.logo-container {
    -webkit-filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
    filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
    width: 300px;
    aspect-ratio: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.auth-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    min-width: 400px;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid var(--accent-color-1);
    background-color: var(--secondary-color);
    padding: 20px 50px 30px 50px;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 2.6em;
    font-weight: 400;
    width: 100%;
    margin-bottom: 50px;
}

.btn-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 950px) {
    .logo-container{
        display: none;
    }
    
    .form{
        background-color: #ffffffee;
        border-radius: 4px 4px 0px 0px;
    }

    .form-bottom-bar{
        background-color: #ffffffee;
        width: 400px;
        margin-top: 0px;
        border-radius: 0px 0px 4px 4px;
        border: 1px solid var(--accent-color-1);
    }
    
}