.two-col-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.two-col-container > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

@media (max-width: 950px) {
    .left-container{
        background-repeat: no-repeat;
        position: absolute;
        min-width: 100%;
        transition: 0.3s
    }

    .right-container {
        position: absolute;
        background-color: transparent;
        transition: 0.5s;
    }    
}